*{	margin: 0;
	padding-left: 5px;
	text-decoration: none;
}

/*<--------------------LIST---------------------->*/

.list-style ol{
	margin: 0;
	padding-left: 0;

}
.list-style ol li{
	margin-left: 50px;
}
.list-style ul{
	margin: 0;
	padding-left: 0;

}
.list-style ul li{
	margin-left: 50px;
}
/*<----------------------image----------------->*/

.img-div{
	text-align: center;
}
.img-div table{
	text-align: center;
	padding-top: 0;
	padding-right: 50px;
	margin-left: 500px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.img-div img{
	padding-left: 0;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom:25px;
	width:350px;
	max-height: : 25%;
	border: 1px solid black;
	box-shadow: 1px 1px ;
	border-radius: 2px;
}
/*<------------------------table------------------------>*/
.table-style{
	padding-left: 500px;
	padding-top: 30px;
	
}
.table-style table{

}
/*<--------------------content box----------------->*/
.content-box-lg{
    padding-left: 10px 0;
    padding-right: 10px 0;
    padding-bottom: 10px;
    padding-top: 10px;
}
