*{	margin: 0;
	padding-left: 5px;
	text-decoration: none;
}

/*<--------------------LIST---------------------->*/

.list-style ol{
	margin: 0;
	padding-left: 0;

}
.list-style ol li{
	margin-left: 50px;
}
.list-style ul{
	margin: 0;
	padding-left: 0;

}
.list-style ul li{
	margin-left: 50px;
}
