*{	margin:0;
	padding-left: 0;
	text-decoration: none;
}
.heading {
	padding-top: 20px;
	margin-right: 200px;
	margin-left: 200px;
}
.section-1{
	margin-right: 200px;
	margin-left: 200px;
	max-height: 200px;
	width: 850px;
	overflow: hidden;
	padding-bottom: 20px;
	border:2px solid black;
}
.section-1 img {
	display: block;
	max-height: auto !important;
	width: 100%;
	margin-top: 10px;
}

.section-2{
	margin-top: 30px;
	padding-bottom: 20px;
	margin-right: 200px;
	margin-left: 200px;
	border:2px solid black;
	overflow: hidden;
	height: 150px;
	width: 850px;
}
.section-2 img{
	position: relative;
	bottom:  300px;
	margin-top: 10px;
	padding-top: 10px;
	width: 850px;
}

.section-3{
	padding-top: 20px;
	margin-right: 400px;
	margin-left: 400px;
	padding-bottom: 10px;
}
.section-3 img{
	
	width:500px;
	height: 300px;
}


