*{	margin:0;
	padding-left: 0;
	text-decoration: none;
}
.main-div{
	width: 800px;
	height: 500px;
	border:2px solid black;
	text-align: center;
	margin-top: 100px;
	margin-left: 400px;
}
.inside-div{

	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border:1.5px solid black;
}
.bottom-div{
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-right:2px solid black;
}
.first-sec{
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
	height: 120px;
	background-color: #FF9999;
}
.first-sec p{
	padding-top: 23px;
}
.left-sec{
	background-color: #FFCD33;
	border-left: 1.5px solid black;
	border-bottom: 1.5px solid black;
	width: 465px;
	height: 340px;
	float: left;
}
.left-sec .bgimg{
	background-image:url('../images/assgn2.jpg');
	margin-left: 5.5px;
	margin-top: 5.5px;
	width: 450px;
	height: 330px;
	
}
.bgimg p{
	padding-top: 30%;
	color: white;
	font-family: "arial";
	font-size: 30px;
}
.me{
	float: right;
	background-color: lightgrey;
	border-right: 1.5px solid black;
	border-bottom: 1.5px solid black;
	width: 310px;
	height: 340px;
}
.me .bgimg2{
	margin-left: 5px;
	margin-top: 5px;
	width: 300px;
	height:330px;
}

